.DeckTileObjectContainer{
    /* background-color: fuchsia; */
    width: 350px;
    height: 230px;
    border-radius:20px;
    margin:10px;
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: 2px 2px 10px rgb(0, 0, 0, .5); */
}
.DeckClickable {
    width: 350px;
    height: 230px;
}

.DeckInfo {
    padding:10px;
    color:#f7f7f7;
    text-shadow: 2px 2px 10px rgb(0, 0, 0, .5);
}

.DeckTitle{
    font-size:24px;
    font-weight: bold;
}


.DeckAuthor {
    font-style: italic
}

a {
    text-decoration: none;
}