.CardPageContent {
    /* background-color: rgba(255,0,0,.2); */
    margin: 0 auto;
    margin-top: 80px;
    display: inline-block;
    width: 60%;
    max-width: 80%;
    /* float: left; */
}

.CardPage-Left {
    float: left;
    width: 33%;
    min-width: 250px;
}

.CardPage-Right {
    /* background-color: rgba(0,0,255,.2); */
    float: left;
    width: 66%;
    min-width: 400px;
}

.CardPageContent:after {
    content: "";
    display: table;
    clear: both;
}

.CardPage-RightContent {
    margin-left: 50px;
    margin-right: 50px;
}

#cardDetails {
    margin-top: 40px;
    max-width: 500px;
}

#typeLine {
    margin-top: 5px;
}

.VersionBubble {
    width: 200px;
    margin-top: 10px;
    height: 30px;
    float:right;
}

#cardName {
    /* background-color: aqua; */
    width: 80%;
}

.CardPage-TopRow {
    justify-content: space-between;
    display: inline-block;
}

#legalities {
    background-color: #e8e8e8;
    height: 275px;
    padding-left: 14px;
    padding-top: 10px;
    border-radius: 10px;
    max-width: 600px;
    min-width: 400px;
}

.dark #legalities {
    background-color: #2a2a2a;
}

.legalities-Left {
    float: left;
    width: 50%;
    /* background-color: red; */
}

.legalities-Right {
    float: left;
    width: 50%;
    /* background-color: blue; */
}

#priceInfo {
    /* background-color: #e8e8e8; */
    position: relative;
    top: -20px;
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 10px;
    /* max-width: 200px; */
    /* min-width: 200px; */
    width: 280px;
    margin: auto;
    font-style: italic;
}

.FavoriteIcon {
    width: 30px; 
    height:30px;
    /* border-radius:50%; */
    font-size:24px;
    color:rgba(0,0,0,.3);
}
#notFavorited {
    /* background-color:#dadada; */
    filter: invert(96%) sepia(0%) saturate(0%) hue-rotate(145deg) brightness(82%) contrast(110%);
}
#notFavorited:hover {
    /* background-color:#cacaca; */
    filter: invert(84%) sepia(1%) saturate(0%) hue-rotate(39deg) brightness(110%) contrast(97%);
    
    /* filter: invert(73%) sepia(90%) saturate(645%) hue-rotate(357deg) brightness(102%) contrast(107%); */
}

#isFavorited {
    /* background-color: #ffd700; */
    filter: invert(73%) sepia(90%) saturate(645%) hue-rotate(357deg) brightness(102%) contrast(107%);

}
#isFavorited:hover {
    /* background-color: #eec000; */
    filter: invert(73%) sepia(90%) saturate(945%) hue-rotate(350deg) brightness(90%) contrast(107%);
}