/* Page Container */

.LoginContainer{
    display: flex;
    flex-direction: row;
    height: 94.6vh;
    /* border-style: solid; */
}

.LeftContainer{
    background-color: grey;
    height: 100%;
    width: 40%;
    /* border-style: solid;
    border-width: 1px; */
}

.RightContainer{
    height: 100%;
    width: 60%;
    margin-left: 150px;
    border-style: solid;
    border-width: 1px;
}

/* Elements from top to bottom */

.LoginTitle{
    margin-top: 150px;
    font-weight: bold;
    font-size: 30px;
}

.RegisterLink{
    font-size: 15px;
    color: rgba(113, 56, 209, 1);
}

.RegisterLinkAlt{
    font-size: 15px;
    color: rgba(113, 56, 209, 1);
    text-decoration-line: underline;
}

.FormContainer{
    width: 30%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    border-style: solid;
}

.InputTitles{
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
}

.RegistrationInputs{
    margin-top: 10px;
    background-color: lightgrey;
    padding: 5px;
    border-radius: 25px;
    width: 300px;
    border: 0;
    box-shadow: 1px 1px 5px black;
    /* border-style: solid; */
}

.EyeIcon{
    height: 20px;
    width: 20px;
    cursor: pointer;
    padding: 3px;
    position: relative;
    z-index: 1;
    bottom: 53px;
    left: 430px;
}

.EyeIconAlt{
    height: 20px;
    width: 20px;
    cursor: pointer;
    padding: 3px;
    position: relative;
    z-index: 1;
    bottom: 53px;
    left: 430px;
}

.ForgotPasswordLink{
    float: right;
    margin-top: 10px;
    /* margin-left: 185px; */
    font-size: 15px;
    color: rgba(219, 30, 79, 1);
    cursor: pointer;
}

.ForgotPasswordLinkAlt{
    /* margin-left: 185px; */
    font-size: 15px;
    color: rgba(219, 30, 79, 1);
    text-decoration-line: underline;
    cursor: pointer;
}

.SubmitButton{
    direction: flex;
    align-content: center;
    border-radius: 25px;
    background-color: lightgray;
    border: none;
    width: 75px;
    height: 25px;
    cursor: pointer;
}

.SubmitButton:hover{
    background-color: rgb(202, 202, 202)
}