#one, #two {
    bottom: 94px;
}

#three, #four{
    bottom: 52px;
}

.SuccessMessage{
    position: relative;
    z-index: 2;
    bottom: 45px;
    color: green;
    text-align: center;
}

.Link {
    color: green;
}

.Link:hover {
    color: rgb(12, 66, 12);
    text-decoration: underline;
}

.ToolTip2{
    background-color: rgba(219, 30, 79, 0.85);
    padding: 10px;
    width: 328px;
    position: relative;
    left: 10px;
    bottom: 15px;

}

.ToolTipTriangle2{
    z-index: 2;
    position: relative;
    bottom: 197px;
    left: 140px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 10px 5px 0;
    border-color: transparent rgb(221, 30, 78,0.85) transparent transparent;
}