.SearchContainer{
    /* width: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-style: solid; */
    /* background-color: aquamarine; */
    width: 500px;
}

.SearchBar{
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    border: 0;
    /* border-style: solid; */
}

.SearchIcon{
    height: 20px;
    width: auto;
    cursor: pointer;
    padding: 3px;
    position: relative;
    z-index: 1;
    margin-right:-25px;
    right: 30px;
}

.SearchBar:focus {
    outline: none;
}