.SearchContainer{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-style: solid; */
}

.SearchBar{
    padding: 8px;
    border-radius: 25px;
    width: 320px;
    border: 0;
    /* border-style: solid; */
}

.SearchIcon{
    height: 40%;
    width: auto;
    cursor: pointer;
    padding: 3px;
    position: relative;
    z-index: 1;
    right: 30px;
}

.SearchIconShadow{
    height: 40%;
    width: auto;
    cursor: pointer;
    background-color: lightgray;
    padding: 3px;
    border-radius: 50%;
}