.SearchContainer{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
}

.SearchBar{
    margin-bottom: 7px;
    margin-right: 10px;
    padding: 8px;
    border-radius: 25px;
    width: 320px;
    border: 0;
    /* border-style: solid; */
}

.SearchIcon{
    height: 20px;
    width: auto;
    cursor: pointer;
    padding: 3px;
    position: relative;
    z-index: 1;
    top: 8.5px;
    right: 43px;
}

.SearchIconShadow{
    height: 20px;
    width: auto;
    cursor: pointer;
    background-color: lightgray;
    padding: 3px;
    border-radius: 50%;
}