.NavBarContainer{
    background-color: #E8E8E8;
    position: sticky;
    top: 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    z-index: 999
    /* border-style: solid; */
    
}

/* Left Side Container of NavBar */

.LogoContainer{
    display: flex;
    align-items: center;
    /* border-style: solid; */
}

.Logo{
    margin-left: 5px;
    height: 80%;
    width: auto;
    /* border-style: solid; */
    cursor: pointer;
    vertical-align: middle;
}

.WebsiteTitle{
    margin-left: 5px;
    font-weight: bold;
    font-size: 22px;
}


/* Right Side Container of NavBar */

.IconContainer{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border-style: solid; */
}

.Icons{
    margin: 3px;
    height: 40%;
    width: auto;
    padding: 7px;
    border-width: 2px;
    cursor: pointer;
}

.LayerIcon{
    height: 40%;
    width: auto;
    padding: 7px;
    /* border-style: solid; */
    border-width: 2px;
    cursor: pointer;
    background-color: lightgrey;
    border-radius: 50%;
}

.UserIcon{
    margin: 3px;
    height: 40%;
    width: auto;
    padding: 7px;
    border-width: 2px;
    cursor: pointer;
    background-color: lightgray;
    border-radius: 50%;
}

/*Dropdown Menu*/
.LayerMenu{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: auto;
    width: 100px;
    box-shadow: 1px 3px 5px black;
    position: absolute;
    z-index: 1;
    right: 15px;
    top: 40px
}

.UserMenu{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: auto;
    width: 90px;;
    box-shadow: 1px 3px 5px black;
    position: absolute;
    z-index: 1;
    right: 5px;
    top: 40px
}

.MenuItems{
    padding: 2px;
    cursor: pointer;
}