.NavBarContainer {
    background-color: #E8E8E8;
    position: sticky;
    top: 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    z-index: 999;
        /* border-style: solid; */
    padding-left: 20%;
    padding-right: 20%;

}

.NavBarContainerDark {
    background-color: #1B1B1B;
    position: sticky;
    top: 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    z-index: 999
}

/* Left Side Container of NavBar */

.LogoContainer {
    display: flex;
    align-items: center;
    /* border-style: solid; */
}

.Logo {
    margin-left: 5px;
    height: 80%;
    width: auto;
    /* border-style: solid; */
    cursor: pointer;
    vertical-align: middle;
}

.WebsiteTitle {
    margin-left: 5px;
    font-weight: bold;
    font-size: 22px;
}


/* Right Side Container of NavBar */

.IconContainer {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border-style: solid; */
}

.Icons {
    margin: 3px;
    height: 20px;
    width: auto;
    padding: 7px;
    border-width: 2px;
    cursor: pointer;
}

.LayerIcon {
    height: 40%;
    width: auto;
    padding: 7px;
    /* border-style: solid; */
    border-width: 2px;
    cursor: pointer;
    background-color: lightgrey;
    border-radius: 50%;
}

.UserIcon {
    margin: 3px;
    height: 40%;
    width: auto;
    padding: 7px;
    border-width: 2px;
    cursor: pointer;
    background-color: lightgray;
    border-radius: 50%;
}

/*Dropdown Menu*/
.LayerMenu {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: auto;
    width: 100px;
    box-shadow: 1px 3px 5px black;
    position: absolute;
    z-index: 1;
    top: 60px;
    right: 21%;
}

.UserMenu {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #fefefe;
    /* height: auto;
    width: auto; */
    box-shadow: 1px 3px 5px rgba(0,0,0,.2);
    position: absolute;
    /* top: 0px; */
    z-index: 1;
    /* right: 20%; */
    /* top: 100px; */
    border-radius: 5px;
    width: 100px;
    padding:5px;
    /* top: 60px; */
    top:10px;
    margin-left:10px;
}

.MenuItems {
    padding: 5px;
    cursor: pointer;
}

.MenuItems:hover {
    background-color: #eaeaea;
    border-radius: 5px;
}

.MenuText {
    padding: 2px;
}

.SearchIcon {
    height: 40%;
    width: auto;
    padding: 7px;
    /* border-style: solid; */
    border-width: 2px;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 800px) {
    #Logo-responsive {
        display: none;
    }

}

@media only screen and (max-width: 1000px) {

    #Searchbar-responsive {
        display: none;
    }

    #Searchicon-responsive {
        display: block;
    }


}

@media (prefers-color-scheme: dark) {
    .day.dark-scheme {
        background: #333;
        color: white;
    }

    .night.dark-scheme {
        background: black;
        color: #ddd;
    }
}

.profileMenuButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.profileMenuButton:hover {
    background-color: #cacaca;
}