.FooterContainer {
    background-color: #E8E8E8;
    height: 90px;
    display: flex;
    flex-direction: column;
    /* margin-top: 48px; */
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
}

.FooterContainerDark {
    background-color: #1B1B1B;
    height: 65px;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

.Legality {
    margin-top: -10px;
    height: 50%;
    font-size: 12px;
    text-align: center;
}

.LegalityDark {
    color: whitesmoke;
    height: 50%;
    font-size: 12px;
    text-align: center;
}

.NavigationBox {
    text-align: center;
    height: 50%;
    padding-top: 5px;
    margin-top: 15px;
}

.Links {
    color: rgba(219, 30, 79, 1);
    /* text-decoration: underline; */
    /* margin-right: 10px; */
}

.Links:hover {
    color: rgba(113, 56, 209, 1);
    text-decoration: none;
}